/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --accent-title-color: #DB00FF;
  --accent-quetstion-title-color: #FF0070;
  --accent-color: #FF0070;
  --accent-description-color: #000028;
  --button-color: #FF0070;
  --section-description-color: #F1B2CE;
  --border-color: #FF0070;
  --background-image: url("../images/cover-image-dark.png");
  --display-content: flex;
  --underline-color: #F1B2CE;
  --hover-border-color: rgba(255, 0, 112, 0.4);
  --links-border-color: #F1B2CE;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

.theme-dark .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}
