/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  width: 100%;
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--background-color);
  background-image: var(--background-image);
}

.page__content {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.header {
  position: relative;
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
}

.rec__element {
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  position: absolute;
  top: 12px;
  right: 5px;
  display: var(--display-content);
  align-items: center;
}

.rec__element::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0 0 4px 2px var(--accent-color);
  border-top: 1px solid #ff007f;
  border-right: 1px solid #ff007f;
}

.decorated__corner::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.decorated__corner::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

/* .header::before {
  content: "";
  position: absolute;
  right: 0px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
} */

.header::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-inline-end: 0;
  margin-block-start: 8px;
}

.accent__word {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  align-content: center;
  line-height: 18px;
  inline-size: 70px;
  block-size: 26px;
  background-color: inherit;
  border: none;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  color: var(--button-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:focus {
  outline: none;
  border-bottom: 1px solid var(--border-color);
}

.header__theme-menu-button_active:disabled {
  border: 1px solid var(--border-color);
  pointer-events: none;
}

/* .theme-input {
  display: none;
}

.theme-input:checked + .header__theme-menu-button {
  outline: 1px solid var(--border-color);
  padding: 0 10px 4px;
} */

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-border-color);
  outline: none;
  /* padding: 0 5px 5px; */
}

a {
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid var(--links-border-color);
}

a:focus {
  outline: 1px solid var(--links-border-color);
}

.title-decor {
  font-family: var(--main-font), sans-serif;
  color: var(--accent-description-color);
  background-color: var(--accent-color);
  font-size: var(--font-description-size);
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  margin-block-start: 70px;
  /* margin-inline-end: 10px; */
  line-height: 33px;
}

.main__article__card:not(:first-child) {
  margin-block-start: 52px;
}

.main__article__card:first-child {
  margin-block-start: 40px;
}

.main__title {
  color: var(--accent-title-color);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 83%;
}

.main__description {
  font-size: var(--main-font-size);
  font-weight: bold;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin-block-start: 55px;
}

.article__title {
  font-weight: bold;
  font-size: var(--main-font-size);
}

.article__pre-title {
  margin-block-end: 20px;
  font-size: var(--main-font-size);
}

.article__title:not(:last-child) {
  margin-block-end: 10px;
}

.article__description {
  color: var(--section-description-color);
  font-family: var(--main-font);
  line-height: 23.4px;
  font-size: var(--main-font-size);
  margin-block-end: 20px;
}

.article__question__title {
  color: var(--accent-quetstion-title-color);
  font-family: var(--main-font);
  font-weight: bold;
  margin-block-end: 20px;
  font-size: var(--main-font-size);
}

.article__advise__title {
  font-weight: normal;
  margin-block-end: 10px;
  font-size: var(--main-font-size);
}

.main__card__title {
  margin-block-start: 50px;
  margin-block-end: 15px;
}

.main__card__title__text {
  font-size: var(--main-font-size);
}

.main__pictures {
  display: grid;
  justify-content: center;
  gap: 10px;
}

.main__picture {
  inline-size: 355px;
  grid-column: 1;
}

.footer {
  position: relative;
  display: grid;
  /* margin-block-start: 40px; */
  block-size: 100vh;
  min-block-size: 668px;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-block-start: 37px;
}

/* уголок */

/* .footer::before {
  content: "";
  position: absolute;
  right: 3px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.footer::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 3px;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
} */

@media (width >= 768px) {
  .page {
    /* padding-inline-start: 20px;
    padding-inline-end: 20px; */
  }

  .page__content {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    min-block-size: 1024px;
  }

  .header__theme-menu-list {
    margin-inline-end: -5px;
    margin-block-end: 5px;
  }

  .rec__element {
    padding-block-start: 10px;
    padding-inline-end: 0;
  }

  .decorated__corner::after {
    bottom: 20px;
    left: 0;
  }

  .decorated__corner::before {
    right: 0px;
    top: 20px;
  }

  /* .header::before {
    right: 20px;
    top: 20px;
  } */
  /* 
  .header::after {
    bottom: 10px;
    left: 10px;
  } */

  .main__title__section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    display: grid;
  }

  .main__title {
    grid-column: 1 / 3;
    align-self: center;
    margin-inline-start: -20px;
    margin-block-end: 160px;
    margin-block-start: 125px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .main__description {
    grid-column: 2 / 3;
    margin-top: 50px;
    justify-self: flex-end;
    width: 50%;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: flex-end;
    margin-block-end: 45px;
    margin-inline-end: 5px;
  }

  .main__article__card {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .main__article__card:not(:first-child) {
    margin-block-start: 52px;
    margin-block-end: -10px;
  }

  .article__content {
    grid-column: 2 / 3;
    margin-block-start: 20px;
    margin-inline-start: 15px;
  }

  /* .main__section
    > .main__article__card:nth-of-type(1)
    > .article__question__title {
    max-inline-size: 235px;
  } */

  .focus__question__title {
    max-inline-size: 235px;
  }

  .article__medium__card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .article__medium__card .article__content {
    grid-column: 1 / 3;
    margin-block-start: 0;
    margin-inline-start: 0;
  }

  .article__medium__card .article__question__title {
    max-inline-size: 236px;
    margin-block-start: 0;
    padding-block-start: 30px;
  }

  .article__medium__card .article__description {
    margin-block-end: 20px;
    max-inline-size: initial;
  }

  .article__question__title {
    grid-column: 1 / 2;
    margin-block-start: 20px;
  }

  .article__description {
    margin: 0;
    max-inline-size: 470px;
  }

  /* .main__section
    > .main__article__card:nth-of-type(3)
    > .article__question__title {
    margin-block-start: 10px;
    min-width: 236px;
  }

  .main__section > .main__article__card:nth-of-type(3) > .article__content {
    margin-block-start: 10px;
    margin-block-end: 10px;
    max-width: 475px;
  } */

  .main__card__title {
    margin-block-start: 90px;
    margin-block-end: 20px;
  }

  .main__pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content repeat(3, minmax(min-content, max-content));
    gap: 20px;
    grid-auto-flow: dense;
    min-height: 100vh;
    /* max-height: 825px; */
  }

  .main__picture {
    display: flex;
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
  }

  .main__picture:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .main__picture:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    overflow: hidden;
  }

  .main__picture:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .main__picture:nth-child(4) {
    grid-column: 2;
    grid-row: 2 / 3;
  }

  .main__picture:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    /* max-block-size: 100vh; */
    min-block-size: 1024px;
    margin-block-start: -20px;
    /* margin-inline-start: 15px;  */
  }

  /* .footer::before {
    right: 0px;
    top: 0px;
  }

  .footer::after {
    bottom: 35px;
    left: 0px;
  } */
}

@media (width >= 1024px) {
  .page {
    /* padding-inline-start: 20px;
    padding-inline-end: 20px; */
  }

  .page__content {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    min-block-size: 768px;
  }

  .decorated__corner::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0px;
  }

  .decorated__corner::before {
    right: 0px;
    top: 20px;
  }

  /* .header::before {
    right: 0px;
    top: 20px;
  } */

  /* .header::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0px;
  } */

  .main__title {
    grid-column: 1 / 3;
    margin-block-start: 125px;
    margin-block-end: 115px;
    font-size: clamp(9.8125rem, 11.8125rem + -3.125vw, 10.3125rem);
  }

  .main__article__card:first-child {
    margin-block-start: 40px;
  }

  .main__description {
    max-inline-size: 490px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    justify-content: center;
    align-self: flex-start;
    margin: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
    margin-block-start: 20px;
    margin-inline-end: 1px;
  }

  .article__medium__card .article__question__title {
    max-width: 315px;
  }

  .article__description {
    min-inline-size: 650px;
    max-inline-size: none;
  }

  .article__title {
    /* max-inline-size: 650px; */
  }

  .article__medium__card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .article__medium__card .article__question__title {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }

  /* .main__section
    > .main__article__card:nth-of-type(1)
    > .article__question__title {
      max-inline-size: inherit;
    } */

  .focus__question__title {
    max-inline-size: inherit;
  }

  .article__medium__card .article__content {
    /* max-width: 315px;
    justify-self: center;
    align-self: flex-start; */
    grid-column: auto;
  }

  .article__medium__card .article__description {
    min-inline-size: 315px;
    max-inline-size: none;
  }
/* 
  .article__medium__card .article__content {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    grid-auto-flow: dense;
  } */

  /* .article__medium__card .multitasking__medium__card {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    margin-inline-start: -7px;
  }

  .article__medium__card .food__medium__card {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-inline-end: -10px;
  }

  .article__medium__card .article__content:last-child {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    margin-inline-start: 20px;
  } */

  /* .main__section > .main__article__card:nth-of-type(3) > .article__content {
    max-width: 650px;
  } */

  .main__pictures {
    /* max-width: 985px; */
    justify-self: center;
  }

  .footer {
    /* display: grid;
    justify-self: center; */
    /* align-self: flex-end; */
    /* margin-block-end: 170px; */
    block-size: 100vh; 
    min-block-size: 768px;
  }

  /* .footer::before {
    right: 0px;
    top: 80px;
  }

  .footer::after {
    bottom: 73px;
    left: 0px;
  } */
}
